<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Node:Notes</title>
    </head>
    <body class="bg-zinc-900 text-white flex flex-col items-center justify-center mt-20">

        <div class='flex gap-10 mb-8'>
            <a href="/" class='py-2.5 px-6 text-sm bg-indigo-50 text-indigo-500 rounded-lg cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-indigo-100'>Back</a>
            <form action="/delete/<%= name %>" method='POST'>
                <button class='py-2.5 px-6 text-sm rounded-lg bg-red-50 text-red-500 cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-red-100 hover:text-red-700'>Delete</button>
            </form>

        </div>
        <div class='bg-zinc-800 rounded-lg p-10 w-[60%]'>
            <div class='flex  mb-10 gap-[43%]'>
                <h1 class="font-bold text-3xl text-yellow-600"><%= name %></h1>
                <form action="/edit/<%= name %>"></form>
                <a href="/edit/<%= name %>" class='py-2.5 px-6 text-sm bg-indigo-50 text-indigo-500 rounded-lg cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-indigo-100'>Edit</a>
            </div>

            <p class="text-xl p-2.5"><%= filedata %></p>
        </div>

    </body>
</html>